* {
    box-sizing: border-box;
}

.carousel > img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    display: none;
    transition: opacity ease;
    opacity: 0;
}

.carousel > img.hiding {
    position: absolute;
    display: block;
    opacity: 0;
    z-index: 20;
}

.carousel > img.shown {
    position: relative;
    opacity: 1;
    display: block;
}

.carousel {
    height: 100%;
    position: relative;
    overflow: hidden;
}